<!DOCTYPE html>
<html lang="ko">
	
	<head th:insert="~{fragments/common/head :: head}">

<body>

	<header th:insert="~{fragments/common/header :: header}"></header>

<main class="search-page">
	<h1 class="loan-title">도서 관리</h1>
  <div class="booklist-search-bar">
    <input type="text" placeholder="제목 또는 저자를 입력하세요">
    <button>검색</button>
  </div>

  <div class="book-list">
    <div class="book-item">
      <div class="book-left">
        <img src="https://shopping-phinf.pstatic.net/main_5118281/51182815714.20241105090357.jpg" alt="해리포터와 마법사의 돌">
        <div class="book-info">
          <strong>해리포터와 마법사의 돌</strong>
          저자: J.K. 롤링<br>
          출판사: 문학동네<br>
          출판년도: 1997
        </div>
      </div>
      <div class="book-actions">
        <button>관리</button>
      </div>
    </div>

    <div class="book-item">
      <div class="book-left">
        <img src="https://image.aladin.co.kr/product/26942/84/cover/k582730818_1.jpg" alt="불편한 편의점">
        <div class="book-info">
          <strong>불편한 편의점</strong>
          저자: 김호연<br>
          출판사: 나무옆의자<br>
          출판년도: 2018
        </div>
      </div>
      <div class="book-actions">
        <button>관리</button>
      </div>
    </div>

    <div class="book-item">
      <div class="book-left">
        <img src="https://shopping-phinf.pstatic.net/main_4077075/40770755621.20230801120536.jpg" alt="아몬드">
        <div class="book-info">
          <strong>아몬드</strong>
          저자: 손원평<br>
          출판사: 창비<br>
          출판년도: 2017
        </div>
      </div>
      <div class="book-actions">
        <button>관리</button>
      </div>
    </div>
  </div>

    <div class="pagination">
      <button class="page-btn" onclick="goPage(1)">◀</button>
      <button class="page-btn active" onclick="goPage(1)">1</button>
      <button class="page-btn" onclick="goPage(2)">2</button>
      <button class="page-btn" onclick="goPage(3)">3</button>
      <button class="page-btn" onclick="goPage(4)">4</button>
      <button class="page-btn" onclick="goPage(5)">5</button>
      <button class="page-btn" onclick="goPage(2)">▶</button>
    </div>
</main>

<footer th:insert="~{fragments/common/footer :: footer}"></footer>

</body>
</html>
