<!DOCTYPE html>
<html lang="ko">

<head th:insert="~{fragments/common/head :: head}">

<body>

	<header th:insert="~{fragments/common/header :: header}"></header>

  <main class="board-main">
    <h2>게시글 작성</h2>

    <!-- 제목 -->
    <label class="post-title-label" for="postTitle">제목</label>
    <input class="post-title-input" type="text" id="postTitle" placeholder="제목을 입력하세요">

    <!-- 본문 -->
    <label class="post-title-label" for="postContent">내용</label>
    <textarea id="postContent" class="post-content-textarea" placeholder="내용을 입력하세요"></textarea>

    <!-- 첨부파일 -->
    <label class="post-attachment-label" for="postAttachment">첨부파일</label>
    <input type="file" id="postAttachment" class="post-attachment-input">

    <!-- 버튼 -->
    <div class="post-actions">
      <button class="submit-btn" onclick="submitPost()">등록</button>
      <button class="cancel-btn" onclick="cancelPost()">취소</button>
    </div>
  </main>
  
  <footer th:insert="~{fragments/common/footer :: footer}"></footer>

</body>

</html>