<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="kr.co.books.member.mapper.MemberMapper">

<insert id="register">
INSERT INTO MEMBER VALUES(MEMBER_SEQ.nextval,
#{id},
#{name},
#{password},
#{phone},
#{email},
#{address},
#{addressDetail},
sysdate,
null,
null)
</insert>

<resultMap id="loginResultMap" type="kr.co.books.member.domain.Member">
	<result column="MEMBER_ID" property="memberId" />
	<result column="ID" property="id" />
	<result column="NAME" property="name" />
	<result column="PASSWORD" property="password" />
	<result column="PHONE" property="phone" />
	<result column="EMAIL" property="email" />
	<result column="ADDRESS" property="address" />
	<result column="ADDRESS_DETAIL" property="addressDetail" />
	<result column="CREATE_DATE" property="createDate" />
	<result column="UPDATE_DATE" property="updateDate" />
	<result column="DELETE_DATE" property="deleteDate" />
</resultMap>

<select id="login" resultMap="loginResultMap">
SELECT ID, NAME, PASSWORD, PHONE, EMAIL FROM MEMBER WHERE ID=#{id}
</select>

</mapper>