<!DOCTYPE html>
<html lang="ko">

<head th:insert="~{fragments/common/head :: head}">

<body>

	<header th:insert="~{fragments/common/header :: header}"></header>

	<main>
		<!-- 추천 도서 -->
		<h2 class="index-h2">추천 도서</h2>
		<div class="book-grid">
			<div class="book-card" onclick="goToBookPage(1)">
				<img src="https://shopping-phinf.pstatic.net/main_5118281/51182815714.20241105090357.jpg"
					alt="해리포터와 마법사의 돌">
				<div class="index-title">해리포터와 마법사의 돌</div>
			</div>
			<div class="book-card" onclick="goToBookPage(2)">
				<img src="https://image.aladin.co.kr/product/26942/84/cover/k582730818_1.jpg" alt="불편한 편의점">
				<div class="index-title">불편한 편의점</div>
			</div>
			<div class="book-card" onclick="goToBookPage(3)">
				<img src="https://shopping-phinf.pstatic.net/main_4077075/40770755621.20230801120536.jpg" alt="아몬드">
				<div class="index-title">아몬드</div>
			</div>
			<div class="book-card" onclick="goToBookPage(4)">
				<img src="https://bookthumb-phinf.pstatic.net/cover/060/087/06008749.jpg" alt="데미안">
				<div class="index-title">데미안</div>
			</div>
		</div>

		<!-- 신규 도서 -->
		<h2 class="index-h2">신규 도서</h2>
		<div class="book-grid">
			<div class="book-card" onclick="goToBookPage(5)">
				<img src="https://shopping-phinf.pstatic.net/main_3731353/37313533623.20230216071235.jpg"
					alt="세이노의 가르침">
				<div class="index-title">세이노의 가르침</div>
			</div>
			<div class="book-card" onclick="goToBookPage(6)">
				<img src="https://shopping-phinf.pstatic.net/main_4018811/40188117638.20230530082815.jpg" alt="역행자">
				<div class="index-title">역행자</div>
			</div>
			<div class="book-card" onclick="goToBookPage(7)">
				<img src="https://bookthumb-phinf.pstatic.net/cover/208/836/20883676.jpg" alt="작별하지 않는다">
				<div class="index-title">작별하지 않는다</div>
			</div>
			<div class="book-card" onclick="goToBookPage(8)">
				<img src="https://image.aladin.co.kr/product/758/33/cover500/8952759664_1.jpg" alt="인간 실격">
				<div class="index-title">인간 실격</div>
			</div>
		</div>

		<!-- 공지사항 -->
		<section class="notice">
			<h3>📢 공지사항</h3>
			<ul>
				<li><a href="#">8/26 시스템 점검 안내</a></li>
				<li><a href="#">8/20 신규 도서 입고 알림</a></li>
				<li><a href="#">8/10 여름 독서 이벤트 개최</a></li>
			</ul>
		</section>
	</main>

	<footer th:insert="~{fragments/common/footer :: footer}"></footer>

</body>

</html>